<article class='first__item'>
    <header>
        <h1 class='first__item__title'>
            Detachment Official T-Shirt
        </h1>
    </header>
    <main>
        <section>
            <h1 class='first__item__description'>
                01010101
                <br>
                01010011
            </h1>
            <img class='first__item__img' src='images/x_detachment_tshirt.jpg' alt='official detachment t-shirt'>
            <div class='soldOut'>SOLD OUT</div>
        </section>
    </main>
    <footer class='firt_item_footer'>
        <p class='firt_item_footer_description'>
            Official limited edition t-shirt of the album "Detachment" by Urban Strangers.
            <br>
            Original stickers included.
        </p>
    </footer>
</article>