<section class='mainnews'>
    <h1 class='mainnews__title'>NEXT EVENTS</h1>
    <ul class='mainnews__title__list'>
        {{#each events}}
            <li class='mainnews__title__element'>
                <a class='mainnews__title__link' href={{this.link}}>{{this.description}}</a>
            </li>
        {{/each}}
    </ul>
</section>
