<article class='main__videos'>
    <header>
        <h1 class='main__videos__title'>
            Watch our videoclips
        </h1>
    </header>
    <main class='main__videos__content'>
        {{#each videos}}
            <section class='main__videos__item'>
                <h1 class='main__videos__item__title'>{{this.title}}</h1>
                <iframe class='main__videos__item__video' src={{this.link}}></iframe>
            </section>
        {{/each}}
    </main>
    <footer class='main__videos__footer'>
        <a class='main__videos__footer__subscribenow' href='https://www.youtube.com/channel/UCRZ2q0nXCbqUWGPDCnP51Tg'>subscribe now</a>
    </footer>
</article>