<article class='songs__article'>
    <header class='songs__article__header'>
        <h1 class='songs__article__title'>
            {{infoMusicArticle.title}}
        </h1>
        <div class='songs__article__wrapper_images'>
            <img class='songs__article__image'
                src='/images/discography.jpeg'
                alt='Urban Strangers'
                srcset='/images/discography.jpeg 150w'>
        </div>
    </header>
    <main class='songs__article__content'>
        {{#each albums}}
            <section class='songs__article__section'>
                <h2 class='songs__article__section__title'>
                    {{this.title}}
                </h2>
                <ul class='songs__article__section__list'>
                    {{#each this.songs}}
                        <li class='songs__article__section__songs'>
                            <a class='songs__article__section__link' href={{this.link}}>{{this.name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </section>
        {{/each}}
    </main>
    <footer class='songs__article__footer'>
    </footer>
</article>