<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    {{> utils/favicon}}
    <title>{{title}}</title>
    {{> utils/scripts}}
    {{> utils/styles}}
</head>
<body>
    <div class='body__content'>
        {{> header/header}}
        <section class='biography'>
            <h1 class='biography__title'>BIOGRAPHY</h1>
            <div class='biography__wrapper_images'>
            <img class='biography__image'
                src='/images/biography.jpeg'
                alt='Urban Strangers'
                srcset='/images/biography.jpeg 150w'>
            </div>
            {{> biography_description}}
        </section>
    </div>
    {{> footer/footer}}
</body>
</html>
