<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    {{> utils/favicon}}
    <title>{{title}}</title>
    {{> utils/scripts}}
    {{> utils/styles}}
</head>
<body>
    <div class='body__content'>
        {{> header/header}}
        <div class='wrapper__index'>
            <img class='wrapper__index__image'
                src='/images/index.jpeg'
                alt='Urban Strangers'
                srcset='/images/index.jpeg 150w'>
        </div>
    </div>
    {{> footer/footer}}
</body>
</html>
