<nav class='main__navigation'>
    <ul class='main__navigation__list'>
        {{#each menuItem}}
            <li class='main__navigation__item'>
                <a class='main__navigation__link' href={{this.route}}>{{this.name}}</a>
            </li>
        {{/each}}
    </ul>
</nav>
