@import 'shared/nomalize';
@import 'shared/variables/variables';
@import 'shared/mixins/mixins';
@import 'shared/header';
@import 'shared/burger';
@import 'shared/first_item';
@import 'shared/news';
@import 'shared/biography';
@import 'shared/videos';
@import 'shared/songs';
@import 'shared/footer';

body {
  @include font-family;
  @include flex('column');
  background-color: $body-background-color;
  color: $body-text-color;
  height: 100%;
  width: 100%;

  .body__content {
    @include flex('column');
    flex: 1 0 auto;

    .main__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

a {
  color: $grey;
  text-decoration: none;
}

.wrapper__index {
  @include flex('column');
  align-items: center;

  &__image {
    height: 600px;
    width: 300px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
