<footer class='main__footer'>
    <div class='main__footer__accordions'>
        <section class='main__footer__accordion followus'>
            <h1 class='main__footer__accordion__title'><a id='followus' href=''>Follow Us</a></h1>
            <div class='main__footer__accordion__inner main__footer__accordion__inner__followus none'>
                <ul class='sociallist'>
                    {{#each footer.followUs}}
                        <li><a href={{this.link}} target="_blank"><img src={{this.pathImg}} class='sociallist__img'> {{this.txt}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </section>
        <section class='main__footer__accordion ourmusic'>
            <h1 class='main__footer__accordion__title'><a id='ourmusic' href=''>Our Music</a></h1>
            <div class='main__footer__accordion__inner main__footer__accordion__inner__ourmusic none'>
                <ul class='musicplatformlist'>
                    {{#each footer.ourMusic}}
                        <li><a href={{this.link}}><img src={{this.pathImg}} class='musicplatformlist__img'> {{this.txt}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </section>
        <section class='main__footer__accordion legalarea'>
            <h1 class='main__footer__accordion__title'><a id='legalarea' href=''>Legal Area</a></h1>
            <div class='main__footer__accordion__inner main__footer__accordion__inner__legalarea none'>
                <p id='legalarea_info' class='main__footer__accordion__legaldescription'>
                    <strong>Delivery Service</strong>
                    <br>
                    Società Cooperativa
                    <br>
                    via Piano, 22 - 82017 - Pannarano (BN)
                    <br>
                    P. IVA 01509320626
                </p>
            </div>
        </section>
    </div>
    <p class='main__footer__copyright'>
        Urban Strangers - All Right Reserved &copy; 2019
        <br>
        Made with <img src='images/icon/heart.svg' height='10px' widht='10px' alt='Heart'> in <img src='images/icon/ssc-napoli.svg' height='10px' widht='10px' alt='Naples'> - Powered by <a href='/?LOVEREVO=false'>LOVEREVO</a>
    </p>
</footer>
