//header
$mobile_header_font_size: 35px;
$tablet_header_font_size: 40px;
$desktop_header_font_size: 45px;
$large_desktop_header_font_size: 50px;

//footer
$mobile_footer_font_size_text: 16px;
$tablet_footer_font_size_text: 18px;
$desktop_footer_font_size_text: 20px;

$mobile_footer_font_size_title: 18px;
$tablet_footer_font_size_title: 20px;
$desktop_footer_font_size_title: 22px;

//menu

//videos
$mobile_video_font_size_title: 16px;
$tablet_video_font_size_title: 18px;
$desktop_video_font_size_title: 20px;

$mobile_video_font_size_footer: 14px;
$tablet_video_font_size_footer: 16px;
$desktop_video_font_size_footer: 18px;

//news
$mobile_news_font_size_description: 20px;
$desktop_news_font_size_description: 25px;
$big_desktop_news_font_size_description: 30px;

$mobile_news_font_size_title: 25px;
$desktop_news_font_size_title: 30px;
$big-desktop_news_font_size_title: 35px;
