@import 'colors';
@import 'font_sizes';
@import 'breakpoints';
@import 'burger';


$body-background-color: $white;
$body-text-color: $grey;
$footer-background-color: $white;

//header
$header_title_margin: 30px;

//footer
$footer_accordion_padding_vertical: 10px;

//items
$item_margin_vertical: 20px;
$section_items_margin_vertical: $item_margin_vertical * 2;

//videos
$article_videos_margin_vertical: 40px;
$videos_margin_vertical: 20px;
$videos_title_margin_vertical: 10px;

//news
$section_news_margin_vertical: 40px;

//description
$smartphone_biography_description_margin: 40px;

//songs
$smartphone_songs_article_margin: 20px;
$smartphone_songs_content_margin: 15px;

$smartphone_songs_space: 15px;
$tablet_songs_space: 10px;
