.biography {
  text-align: center;

  &__wrapper_images {
    @include flex('column');
    align-items: center;
  }

  &__image {
    @include for-tablet-landscape-up {
      height: 600px;
      width: auto;
    }

    margin-top: 40px;
    width: 100%;
    height: 30%;
  }

  &__title {
    margin-top: $smartphone_biography_description_margin / 2;
  }

  &__description {
    margin: $smartphone_biography_description_margin;
  }
}
