.main__burger {

  @include for-tablet-landscape-up {
    display: none;
  }

  background: none;
  border: 0;
  border-bottom: $thickness__burger__menu solid currentColor;
  color: $grey;
  cursor: pointer;
  left: 47vw;
  margin: 0 auto;
  outline: 0;
  position: absolute;
  top: 90px;
  transition: top .8s;
  transition: border-bottom 1s ease-in-out;
  width: $width__burger__menu;

  // Fix for extra space in Firefox

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &::before {
    border-bottom: $thickness__burger__menu solid currentColor;
    content: '';
    display: block;
    margin-bottom: 5px;
    transition: transform .5s ease-in-out;
    width: 100%;
  }

  &::after {
    border-bottom: $thickness__burger__menu solid currentColor;
    content: '';
    display: block;
    margin-bottom: 5px;
    transition: transform .5s ease-in-out;
    width: 100%;
  }

  &.open {
    border-bottom: $thickness__burger__menu solid transparent;
    transition: border-bottom .8s ease-in-out;

    &::before {
      transform: rotate(-405deg) translateY(1px) translateX(-3px);
      transition: transform .5s ease-in-out;
    }

    &::after {
      transform: rotate(405deg) translateY(-4px) translateX(-5px);
      transition: transform .5s ease-in-out;
    }
  }
}
