.first__item {
  @include flex('column');
  align-items: center;
  flex: 1 0 auto;
  margin-top: $section_items_margin_vertical / 2;
  margin-bottom: $section_items_margin_vertical;
  text-align: center;

  .soldOut {
    font-size: 40px;
    margin-bottom: 20px;
  }

  &__form {
    align-items: center;
    @include flex('column');
    margin-bottom: $item_margin_vertical;
  }

  &__title {
    margin-bottom: $item_margin_vertical;
  }

  &__description {
    margin-bottom: $item_margin_vertical;
  }

  &__img {
    height: 400px;
    margin-bottom: $item_margin_vertical;
    width: 375px;
  }

  &_footer_description {
    margin-bottom: $item_margin_vertical;
  }
}
