.main__footer {
  @include for-tablet-landscape-up {
    font-size: $tablet_footer_font_size_text;
  }

  @include for-desktop-up {
    font-size: $desktop_footer_font_size_text;
  }

  @include flex('column');
  font-size: $mobile_footer_font_size_text;
  align-items: center;
  background-color: $white;
  flex-shrink: 0;

  &__accordion {
    @include flex('column');
    align-items: center;
    border-top: 1px solid;
    padding: $footer_accordion_padding_vertical 0;
    width: 100%;
  }

  li {
    margin-bottom: 10px;
  }

  &__accordions {
    @include for-tablet-landscape-up {
      align-items: end;
      flex-direction: row;
    }
    
    @include flex('column');
    flex-direction: column;
    width: 100%;
  }

  .sociallist {
    list-style: none;

    &__img {
      height: 15px;
      width: 15px;
    }
  }

  .musicplatformlist {
    list-style: none;

    &__img {
      height: 15px;
      width: 15px;
    }
  }

  &__copyright {
    border-top: 1px solid;
    padding: $footer_accordion_padding_vertical 0;
    text-align: center;
    width: 100%;
  }

  &__accordion__legaldescription {
    text-align: center;
  }

  &__accordion__title {
    @include for-tablet-landscape-up {
      font-size: $tablet_footer_font_size_title;
    }
  
    @include for-desktop-up {
      font-size: $desktop_footer_font_size_title;
    }
  
    font-size: $mobile_footer_font_size_title;
    font-weight: bold;
  }

  &__accordion__inner {
    padding: $footer_accordion_padding_vertical 0;
  }

  .none {
    display: none;
  }
}
