@import 'menu';

.main__title {
  @include for-tablet-landscape-up {
    font-size: $tablet_header_font_size;
  }

  @include for-desktop-up {
    font-size: $desktop_header_font_size;
  }

  @include for-big-desktop-up {
    font-size: $large_desktop_header_font_size;
  }

  text-align: center;
  font-size: $mobile_header_font_size;
  margin: $header_title_margin;
}
