.main__navigation {
  @include for-tablet-landscape-up() {
    display: block;
    font-size: 22px;
  }

  @include for-desktop-up() {
    font-size: 25px;
  }

  @include flex();
  font-size: 19px;
  justify-content: space-around;
  display: none;

  &__list {

    @include for-tablet-landscape-up {
      height: auto;
      flex-direction: row;
    }

    @include flex('column');
    justify-content: space-evenly;
    height: 100%;
  }

  &__item {

    @include for-tablet-landscape-up {
      text-transform: lowercase;
      text-align: start;
      padding-bottom: 25px;
      
      a:hover {
        border-bottom: .25em solid #dfe1e5;
      }
    }

    list-style: none;
    text-transform: uppercase;
    text-align: center;
  }

  &__link {
    
    @include for-tablet-landscape-up {
      color: $grey;
    }

    color: $white;
  }

  &.open {
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: $living_coral;
    display: block;
  }
}

