.mainnews {
  @include flex('column');
  text-align: center;
  flex: 1;
  justify-content: center;
  margin-top: $section_news_margin_vertical;
  margin-bottom: $section_news_margin_vertical;

  &__title {
    @include for-desktop-up {
      font-size: $desktop_news_font_size_title;
    }

    @include for-big-desktop-up {
      font-size: $big_desktop_news_font_size_title;
    }

    font-size: $mobile_news_font_size_title;
  }

  &__title__link {

    &:hover {
      text-decoration: underline;
    }
  }

  &__title__element {
    @include for-desktop-up {
      font-size: $desktop_news_font_size_description;
    }

    @include for-big-desktop-up {
      font-size: $big-desktop_news_font_size_description;
    }

    font-size: $mobile_news_font_size_description;
    list-style-type: none;
    margin: 15px 0px;

    &:nth-child(-n+2) {
      text-decoration: line-through;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }
}
