.songs__article {
  margin-top: $smartphone_songs_article_margin;
  margin-bottom: $smartphone_songs_article_margin;

  &__wrapper_images {
    @include flex('column');
    align-items: center;
  }

  &__image {
    @include for-tablet-landscape-up {
      height: 600px;
      width: auto;
    }

    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 30%;
  }

  &__header {
    text-align: center;
  }

  &__content {
    @include for-tablet-landscape-up {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-evenly;
    }
    @include flex('column');

    align-items: center;
    text-align: center;
    margin-top: $smartphone_songs_content_margin;
  }

  &__section {
    @include for-tablet-landscape-up {
      margin-top: 0;
    }

    margin-top: $smartphone_songs_content_margin;

    &__songs {
      @include for-tablet-landscape-up {
        margin-top: $tablet_songs_space;
      }

      margin-top: $smartphone_songs_space;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__section__list {
    margin-top: $smartphone_songs_content_margin;
    list-style-type: none;
  }
}
