.main__videos {
  @include for-tablet-landscape-up() {
    font-size: $tablet_video_font_size_title;
  }
  
  @include for-desktop-up() {
    font-size: $desktop_video_font_size_title;
  }

  @include flex('column');
  font-size: $mobile_video_font_size_title;
  align-items: center;
  margin-top: $article_videos_margin_vertical / 2;
  margin-bottom: $article_videos_margin_vertical;

  &__content {
    @include for-tablet-landscape-up {
      flex-flow: row wrap;
      justify-content: space-evenly;
    }

    @include flex('column');
    align-items: center;
  }

  &__title {
    margin-bottom: $videos_margin_vertical;
  }

  &__item__title {
    font-weight: bold;
    margin-bottom: $videos_title_margin_vertical;
    margin-top: $videos_title_margin_vertical;
    text-align: center;
  }

  &__item__video {
    @include for-tablet-landscape-up {
      width: 40vw;
    }

    @include for-big-desktop-up {
      width: 25vw;
    }

    height: 350px;
    width: 100vw;
  }

  &__footer {
    @include for-tablet-landscape-up() {
      font-size: $tablet_video_font_size_footer;
    }
    
    @include for-desktop-up() {
      font-size: $desktop_video_font_size_footer;
    }

    font-size: $mobile_video_font_size_footer;
    margin-top: $videos_margin_vertical * 2;

    &__subscribenow {
      border: 1px solid $grey;
      border-radius: 30px;
      padding: 10px 65px;

      &:hover {
        text-decoration-line: underline;
      }
    }
  }
}
