@mixin for-tablet-portrait-up {
  @media ( min-width: $tablet_portrait ) { @content; }
}

@mixin for-tablet-landscape-up {
  @media ( min-width: $tablet_landscape ) { @content; }
}

@mixin for-desktop-up {
  @media ( min-width: $desktop ) { @content; }
}

@mixin for-big-desktop-up {
  @media ( min-width: $desktop_large ) { @content; }
}
